<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DIR_HELPFILES">
            <Component Id="cmp7FC18F7741A91FAB808A77BCD222A2C4" Guid="{F02F49FC-18C4-4815-9559-2CC58279398B}">
                <File Id="fil902ABD72DC988349749E1C6183D5F3F3" KeyPath="yes" Source="$(var.PathDocumentacio)\index.html" />
            </Component>
            <Directory Id="dir6869079F6F475DECFBC4C6FD41776C6F" Name="ExpenseIt - Standalone Demo_fitxers">
                <Component Id="cmpA23CA3DA635F305DD2AF8EB12E40C49A" Guid="{B7CFB43F-9E65-4410-9775-62C37A6C2FCD}">
                    <File Id="fil43FB51197C56EBBD1D8950A7A3F8D33B" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\ai.js" />
                </Component>
                <Component Id="cmp82AA59DC582C7D7F64A14F9450578AE5" Guid="{584A889E-26F1-4DB8-AE54-4544CB24030F}">
                    <File Id="filFA2C9FEF08771B718F1D646A10891BC0" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\broker-config.js" />
                </Component>
                <Component Id="cmpC38B1C5FA8A3560152D18489C372B0D7" Guid="{C5D5B2AF-505D-4C1B-AB02-4D7EF75BD97E}">
                    <File Id="filCBDB20509936782E4D5F85A1E44C3C50" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\broker.js" />
                </Component>
                <Component Id="cmpC389BB7F11B58B6E89151B44F592B01F" Guid="{A4896A96-492F-49F6-94FB-CDB796058380}">
                    <File Id="fil8844032A1466718920B7B5DE7A8F034F" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\Combined.css" />
                </Component>
                <Component Id="cmpD229A0A94F2F205B6ED28B1FD57C1B68" Guid="{36786630-3DAD-44D3-A96E-87502DBBD3C5}">
                    <File Id="filACE085440ED9711F99E0E48B0948D132" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\Combined.js" />
                </Component>
                <Component Id="cmp89B04BDA79C22A0F69ACEBFABACD47B5" Guid="{171CA26B-6D2D-403C-B6E8-BA7C509A4A93}">
                    <File Id="fil6FCA5F71A463DC795417AADDD386894F" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\Combined_002.js" />
                </Component>
                <Component Id="cmp22A6BD7E62299CFC4F30561C50AA1BED" Guid="{E8F6409F-02D1-48DD-A83D-DB1841F4F030}">
                    <File Id="fil1422840D39FB78DD40B5C47C9CD3015C" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\Combined_003.js" />
                </Component>
                <Component Id="cmp8D8C02612D1BF4066893DDCE973B3DC2" Guid="{028A6C24-07C7-4A24-8E96-E6CD635094DB}">
                    <File Id="fil0EE8BA01D763D5468A224B2E8958293E" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\HeaderFooterSprite.png" />
                </Component>
                <Component Id="cmp6352096D9BAD09CC9820F45FCC447232" Guid="{FAE4C1D9-6188-4D35-B928-C7F5B4E69784}">
                    <File Id="filA6DD2912D9A6354391566794C732C1FB" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\ImageSprite.png" />
                </Component>
                <Component Id="cmp3E8C808E84C2240C844785F14994008F" Guid="{E9A61E27-4F07-4EA4-AF2A-16DEBC071D2F}">
                    <File Id="filD3E5B36F506017193F5D54EAC753F22A" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\jquery-1.js" />
                </Component>
                <Component Id="cmp55A2C6E98A0DA7766122066FE59800A6" Guid="{C8A9E2BB-3628-4D20-9800-3DF697D7A904}">
                    <File Id="fil055C6942FEACD06AAF48C45EB00E3AF9" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\jsll-4.js" />
                </Component>
                <Component Id="cmp96A0F7148D8E81C60E0573A641A847F6" Guid="{45206127-BD19-4FE3-A2AC-1453E1F6ACBF}">
                    <File Id="filC52021580B101F83E98BDBD748D0ED72" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\mscc-0.css" />
                </Component>
                <Component Id="cmp14C2F8EBFD3788EB38FBB70072ED50CA" Guid="{3D71B7D9-456E-4F53-B266-83CB7F255B7B}">
                    <File Id="filEEEFB9073E47D53EAB029DD2D1D01607" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\mscc-0.js" />
                </Component>
                <Component Id="cmp293F9114EA2E79D41A8D0C51D01B3055" Guid="{6C446656-9E5A-4404-BF55-A2B9A4574B03}">
                    <File Id="fil993E88C0749A3907C1734773C223F2A1" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\PrintView.css" />
                </Component>
                <Component Id="cmp5ABB403104A71F158F6A8CA3A1ECE15A" Guid="{473D838E-F0E9-43D7-8072-DFAAF07B2077}">
                    <File Id="fil6BDABB66CB0A3EA2303DCAAE6BA1A46D" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\SearchBox.js" />
                </Component>
                <Component Id="cmp22DE9880A15812CC8344605B8292DD63" Guid="{D88BE1A2-12EA-466C-B2BA-34255CEF30BA}">
                    <File Id="fil1F9156562119C9DDC13E513C77C14AFF" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\SearchBox_002.js" />
                </Component>
                <Component Id="cmp3C16BDE694BE760C86D4E0DB0FB37F25" Guid="{8A524761-5E58-4F06-A21B-E85EBE3C7BF5}">
                    <File Id="filE7F0591CE07DA3F40191FCD75D9C2D47" KeyPath="yes" Source="$(var.PathDocumentacio)\ExpenseIt - Standalone Demo_fitxers\t.js" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CG_DocumentationFiles">
            <ComponentRef Id="cmp7FC18F7741A91FAB808A77BCD222A2C4" />
            <ComponentRef Id="cmpA23CA3DA635F305DD2AF8EB12E40C49A" />
            <ComponentRef Id="cmp82AA59DC582C7D7F64A14F9450578AE5" />
            <ComponentRef Id="cmpC38B1C5FA8A3560152D18489C372B0D7" />
            <ComponentRef Id="cmpC389BB7F11B58B6E89151B44F592B01F" />
            <ComponentRef Id="cmpD229A0A94F2F205B6ED28B1FD57C1B68" />
            <ComponentRef Id="cmp89B04BDA79C22A0F69ACEBFABACD47B5" />
            <ComponentRef Id="cmp22A6BD7E62299CFC4F30561C50AA1BED" />
            <ComponentRef Id="cmp8D8C02612D1BF4066893DDCE973B3DC2" />
            <ComponentRef Id="cmp6352096D9BAD09CC9820F45FCC447232" />
            <ComponentRef Id="cmp3E8C808E84C2240C844785F14994008F" />
            <ComponentRef Id="cmp55A2C6E98A0DA7766122066FE59800A6" />
            <ComponentRef Id="cmp96A0F7148D8E81C60E0573A641A847F6" />
            <ComponentRef Id="cmp14C2F8EBFD3788EB38FBB70072ED50CA" />
            <ComponentRef Id="cmp293F9114EA2E79D41A8D0C51D01B3055" />
            <ComponentRef Id="cmp5ABB403104A71F158F6A8CA3A1ECE15A" />
            <ComponentRef Id="cmp22DE9880A15812CC8344605B8292DD63" />
            <ComponentRef Id="cmp3C16BDE694BE760C86D4E0DB0FB37F25" />
        </ComponentGroup>
    </Fragment>
</Wix>