<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
	<Product Id="{aa0a92c1-32c1-48a6-a328-d2dad1916304}" 
           Name="ExpenseItDemo.SetupProject" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="IESMila"
           UpgradeCode="25b914a2-b4d0-4e22-b7c0-9b8542f2eddc">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
    
    <!-- NOTA: Level=1 significa que el feature s'instal·la en la versió "Typical" , a partir de 2 (inclòs) , només s'instal·lent si es fa un "Custom" i es selecciona el component.-->  
		<Feature Id="ProductFeature" Title="ExpenseItDemo Desktop Aplication" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="CG_ProductShortcuts"/>
      <ComponentGroupRef Id="CG_SHORCUT_DESKTOP"/>
		</Feature>
    <Feature Id="HelpFeature" Title="ExpenseItDemo Help Files" Level="2">
      <ComponentGroupRef Id="CG_DocumentationFiles" />
    </Feature>

    <!--Activem la interfície gràfica -->
    <!-- ATENCIÓ: Per usar la UI cal que afegiu una refència a la dll "C:\Program Files (x86)\WiX Toolset v3.11\bin\WixUIExtension.dll" -->
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText"/>
    
    <!-- Afegim una propietat que indica a WIX que volem modificar la carpeta d'instal·lació -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"></Property>
    
    <!-- arxiu de llicència -->
    <WixVariable Id="WixUILicenseRtf" Value="llicencia.rtf" />
	</Product>

  
	<Fragment>
    <!-- Estructura de carpetes a la màquina de DESTI o d'INSTAL·LACIÓ-->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ExpenseItApp" >
          <Directory Id="DIR_HELPFILES" Name="HelpFiles"></Directory>
        </Directory>
			</Directory>
      
      <!-- Posem una referència al menú d'inici-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="DIR_PMF_EXPENSE_IT" Name="ExpenseIt App"></Directory>
      </Directory>

      <Directory Id="DesktopFolder"></Directory>
      
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Arxiu executable de l'aplició ExpenseItDemo -->
      <Component Id="CmpMainExecutable">
        <File Id="FilExpenseIdEXE"   Name="ExpenseItDemo.exe" Source="$(var.ExpenseItDemo.TargetPath)" ></File>
      </Component>
      <!-- Arxiu dll de la llibraria EditBoxControlLibrary -->
      <Component Id="CmpEditBoxControlLibraryDLL">
        <File Id="FilEditBoxControlLibraryDLL" Name="EditBoxControlLibrary.dll"  
              Source="$(var.EditBoxControlLibrary.TargetPath)"
              Assembly=".net"
              ></File>
        <!-- Assembly=".net" fa que la dll no es copii a la carpeta sinó a la GAC (Global Assemby Cache) -->
      </Component>
      
      
    
      
		</ComponentGroup>

    <!-- Instal·lar l'accés directe de l'executable al menú d'inici -->
    <ComponentGroup Id="CG_ProductShortcuts" Directory="DIR_PMF_EXPENSE_IT">
      <Component Id="CMP_AccessDirecteExe_MenuInici" Guid="{94d0df5b-1329-4a25-a564-7f9a1c655e6f}">

        <!-- shorcut a l'executable -->
        <Shortcut Id="SHR_EXE"
                  Name="ExpenseIt"
                  Description="The best expense application in the world!"
                  Target="[INSTALLFOLDER]ExpenseItDemo.exe"
                  />
        <!-- shorcut per desinstal·lar -->
        <Shortcut Id="SHR_UNINSTALLL"
                  Name="Unistall ExpenseIt"
                  Description="Uninstall ExpenseIt asap"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" />

        <RemoveFolder Id="RemoveMyShorcutsDir" On="uninstall"/>

        <RegistryValue Root="HKCU"
                       Key="Software\MilaEnterprises\ExpenseIt"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        
      </Component>      
    </ComponentGroup>

    <!-- Enllaç directe a l'escriptori: useu Directory="DesktopFolder" que ja és reconegut per WIX -->
    <ComponentGroup Id="CG_SHORCUT_DESKTOP" Directory="DesktopFolder">
      <Component Id="CMP_SHORCUT_DESKTOP_EXE"  Guid="{ab9ddb01-bab3-4ed7-914b-2eb613bbc365}">
        <Shortcut Id="SHC_DESKTOP_EXE"
                 Name="ExpenseIt App"
                 Description="ExpenseIt App"
                 Target="[INSTALLFOLDER]ExpenseItDemo.exe"
                   />
         <RegistryValue Root="HKCU"
                        Key="Software\MilaEnterprises\ExpenseIt"
                       Name="installedDesktop"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        
      </Component>
    </ComponentGroup>
    

    <!--ComponentGroup Id="HelpComponents" Directory="DirHelpFiles">
      
      <Component Id="CmpIndexHTML">
        <File Id="FilIndexHTML" Name="index.html" Source="$(var.ExpenseItDemo.ProjectDir)help\index.html"></File>
      </Component>
                 
     </ComponentGroup-->    
	</Fragment>
</Wix>
